<link rel='stylesheet' href='/style.css' />

<h1>CONNECTIFY</h1>
<div id="signin">
    <br> 
    <h2>Signin</h2>
        <form id="siginform" action="/" method="POST"> 
            <input type='email' name="email" placeholder='Email'></input>
            <input type='password' name="pswd" placeholder='Password'></input>
            <button type='submit' id="sbmt">Sign In</button>
        </form>
    <br>
    <p style="color:white">Don't have any account ??  
        <a href="/signup" style="color:white">Signup</a>
    </p>
</div>